<%= form_with model: @album, :html => {:multipart => true} do |form| %>
   <div class = "mb-3">
      <%= form.label :name, class: "form-label" %><br>
      <%= form.text_field :name , class: "form-control"%>
   
    </div>
   
   
    <div class = "mb-3">
    <%= form.label :description, class: "form-label" %><br>
    <%= form.text_field :description , class: "form-control"%><br>
   
    </div>
   
    <p>
      <%= form.file_field :image %>
    </p>

    <div class = "mb-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>

    <% end %>
