<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Album</a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     
    
    
    
    
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", albums_path, class:"nav-link active"%>
        </li>
      
        
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          
          <%= link_to "New Album", new_album_path, class: "nav-link"%>
        </li>
      </ul>
      <div class="d-flex">
      <% if user_signed_in?%> 
          
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger"%>
      <% else %>
         <%= link_to "Sign In", new_user_session_path, class:"btn btn-success"%>
         <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success"%>
     
    <% end %>  
       
      </div>
    </div>
  </div>
</nav>
    